@using SafeShop.Application.Requests
@model SafeShop.Application.ViewModels.ProductDetailsPageModel

<div class="row align-items-center">
    <div class="col-md-4">
        <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" height="240" width="240">
    </div>
    <div class="col-md-7 flex-column">
        <dl class="row">
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-7">
                @Html.DisplayFor(model => model.Price) PLN
            </dd>
         </dl>
    </div>
</div>

<div class="mt-2">
    @if(!Model.IsInCart)
    {
        <form method="post" asp-controller="Shop" asp-action="AddToCart" class="align-items-center">
            <div class="mt-2 mb-2 d-flex justify-content-sm-center">
                <label>Wybierz ilość produktu</label>
                <input type="number" name="quantity" value="1" step="1" min="1" max="10"/>
            </div>
            <input type="hidden" name="productId" value=@Model.ID />
            <div class="d-flex justify-content-center">
                <input type="submit" value="Dodaj do koszyka" class="btn btn-primary"/>
            </div>
        </form>
    } else 
    {
        <p class="d-flex justify-content-center">Ten produkt już jest w twoim koszyku</p>
    }
    <div class="d-flex justify-content-center mt-2">
        <a asp-action="Index" class="btn btn-secondary">Do listy produktów</a>
    </div>
</div>
